@mixin invertedBtn {
	background-color: #fff;
	color: #000;
	border: 1px solid black;
}

@mixin normalBtn {
	background-color: #000;
	color: #fff;
}

.button {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-weight: bolder;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	@include normalBtn();

	&:hover {
		@include invertedBtn();
	}

	&.google {
		background-color: #4285f4;
		color: #fff;

		&:hover {
			background-color: #357ae8;
			border: none;
		}
	}

	&.inverted {
		@include invertedBtn();

		&:hover {
			@include normalBtn();
		}
	}
}
